<nav>
  <div>
      <%= form_with url: "/search", method: :get do |f|  %>
        <%= f.text_field :query, placeholder: 'search by' %>
        <%= f.select :type, ["name", "category"] %>
        <%= f.submit :Enter %>
        <a href="/listings">Home</a>
        |
        <a href="/categories">Categories</a>
      <% end %>
  </div>
</nav>
