<div>
    <% if @page != 0 %>
      <%= link_to "< Previous", url_for(action: action, page: @page - 1) %>
    <% end %> 
    
    <% if @listings.length == 4 %>
      <%= link_to "Next >", url_for(action: action, page: @page + 1) %>
    <% end %>
</div>
