<% if current_user != @seller %>
    <h1>Succulents From This Seller</h1>
    <h4>Email: <%=@seller.email%></h4>
<% else %>
    <h1>Your Succulents</h1>
<% end %>

<%= render 'card' %>

  <footer>
    <%= link_to 'Back', listings_path %>
  </footer>