/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

article {
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 50vh; 
    column-gap: 10px;
    row-gap: 15px;
    justify-items: center;
  }

@media only screen and (max-width: 600px) {
article {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 50vh; 
  }
}

h1 {
    padding-bottom: 5vh;
    text-align:center;
}

section{
    text-align: center;
}

footer{
    position: fixed;
    bottom: 0;
}

.form-control {
    width: 40vw;
}

.shared-devise {
    color: black;
}

figure {
}
